@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #ffffff;
  --second-color: #babcc4;
  --main-background: #161927;
  --main-theme: #576ee0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--main-color);
  background-color: var(--main-background);
}
